<div style="max-width: 1200px;
    text-align: left;
margin: auto;" class="main asd sm:p-24">
<h1 data-aos="fade-up" style="color:#ed1556" class="pl-4 my-4 text-3xl md:text-5xl text-purple-800 font-bold leading-tight text-center md:text-left slide-in-bottom-h1 aos-init aos-animate">Actiways</h1>    <ul id="cbp-ntaccordion" class="cbp-ntaccordion">
        <li class="pl-4">
            <h3 class="cbp-nttrigger"><img style="display:inline-block;width:30px" class="animated infinite headShake" src="public/storage/img/logo.png" alt=""> targeted Social Media a kapcsolatok megkeresését,
                építését, valamint a személyes aktívitást támogatja szemben
                a jelenlegi közösségi rendszerek online tartalom megosztó
                funkcióival.
                </h3>
            <div class="cbp-ntcontent">
                <ul class="cbp-ntsubaccordion">
                    <li>
                        <h4 class="cbp-nttrigger">Idegeneknek posztolsz, nem ismerősöknek</h4>
                        <div class="cbp-ntcontent">
                            <p>A posztok irányítottak, tehát magad határolhatod be a potenciális célközönségedet,
                                akiket még nem ismerhetsz. Kivétel, ha már követ téged, de akkor is működnek bizonyos
                                célzási paraméterek.</p>
                        </div>
                    </li>
                    <li>
                        <h4 class="cbp-nttrigger">Helytől függően találhatod meg, amit keresel</h4>
                        <div class="cbp-ntcontent">
                            <p>A feeden lévő szűrő lehetőséget ad, hogy a meglévő posztok közül csak azokat láthasd, amelyek
                                bizonyos távolságon belül vannak, ugyanígy kérdésedet a posztokban is csak adott távolságon
                                teszed láthatóvá. </p>
                        </div>
                    </li>
                    <li>
                        <h4 class="cbp-nttrigger">Kérdezhetsz, ha nem találsz valamit</h4>
                        <div class="cbp-ntcontent">
                            <p>A posztok a tartalom megosztás helyett a kérdések feltételére készültek, a további funkciók is ezt
                                fogják szolgálni. A kérdés, kérés, ajánlat mind aktivitásra buzdítja a poszt olvasóját, amely a
                                személyes találkozókat motiválja.
                                </p>
                        </div>
                    </li>
                    <li>
                        <h4 class="cbp-nttrigger">Mindenkit elérhetsz, akit szeretnél</h4>
                        <div class="cbp-ntcontent">
                            <p>A közösségi rendszerek tulajdonsága, hogy a nagyszámú poszt miatt algoritmusok döntik el a
                                posztok láthatóságát. Az irányított posztok viszont megszűrik az olvasók táborát, így minden poszt
                                addig látható, ameddig az írója azt akarja. Az sem zavar, ha ezek egyben üzleti célokat szolgálnak,
                                sőt még örülünk is neki!
                                </p>
                        </div>
                    </li>
                    <li>
                        <h4 class="cbp-nttrigger">Közvetlen cset kommunikáció</h4>
                        <div class="cbp-ntcontent">
                            <p>A nyilvános megjegyzéseknél tapasztalt kellemetlen atrocitás helyett a közvetlen cset alapú
                                kommunikációt támogatjuk. Majd te eldöntöd, hogy a reakció elfogadható-e vagy sem. Akár
                                többen egyesével vagy csoportosan is válaszolhatnak.
                                </p>
                        </div>
                    </li>
                    <li>
                        <h4 class="cbp-nttrigger">Kérdezhetsz, ha nem találsz valamit</h4>
                        <div class="cbp-ntcontent">
                            <p>A posztok a tartalom megosztás helyett a kérdések feltételére készültek, a további funkciók is ezt
                                fogják szolgálni. A kérdés, kérés, ajánlat mind aktivitásra buzdítja a poszt olvasóját, amely a
                                személyes találkozókat motiválja.
                                </p>
                        </div>
                    </li>
                    <li>
                        <h4 class="cbp-nttrigger">Kérdezhetsz, ha nem találsz valamit</h4>
                        <div class="cbp-ntcontent">
                            <p>A posztok a tartalom megosztás helyett a kérdések feltételére készültek, a további funkciók is ezt
                                fogják szolgálni. A kérdés, kérés, ajánlat mind aktivitásra buzdítja a poszt olvasóját, amely a
                                személyes találkozókat motiválja.
                                </p>
                        </div>
                    </li>
                </ul>
            </div>
        </li>




        <li class="pl-4">
            <h3 class="cbp-nttrigger"><img style="display:inline-block;width:30px" class="animated infinite headShake" src="public/storage/img/logo.png" alt=""> targeted Social Media a kapcsolatok megkeresését,
                építését, valamint a személyes aktívitást támogatja szemben
                a jelenlegi közösségi rendszerek online tartalom megosztó
                funkcióival.
                </h3>
            <div class="cbp-ntcontent">
                <ul class="cbp-ntsubaccordion">
                    <li>
                        <h4 class="cbp-nttrigger">Idegeneknek posztolsz, nem ismerősöknek</h4>
                        <div class="cbp-ntcontent">
                            <p>A posztok irányítottak, tehát magad határolhatod be a potenciális célközönségedet,
                                akiket még nem ismerhetsz. Kivétel, ha már követ téged, de akkor is működnek bizonyos
                                célzási paraméterek.</p>
                        </div>
                    </li>
                    <li>
                        <h4 class="cbp-nttrigger">Helytől függően találhatod meg, amit keresel</h4>
                        <div class="cbp-ntcontent">
                            <p>A feeden lévő szűrő lehetőséget ad, hogy a meglévő posztok közül csak azokat láthasd, amelyek
                                bizonyos távolságon belül vannak, ugyanígy kérdésedet a posztokban is csak adott távolságon
                                teszed láthatóvá. </p>
                        </div>
                    </li>
                    <li>
                        <h4 class="cbp-nttrigger">Kérdezhetsz, ha nem találsz valamit</h4>
                        <div class="cbp-ntcontent">
                            <p>A posztok a tartalom megosztás helyett a kérdések feltételére készültek, a további funkciók is ezt
                                fogják szolgálni. A kérdés, kérés, ajánlat mind aktivitásra buzdítja a poszt olvasóját, amely a
                                személyes találkozókat motiválja.
                                </p>
                        </div>
                    </li>
                    <li>
                        <h4 class="cbp-nttrigger">Mindenkit elérhetsz, akit szeretnél</h4>
                        <div class="cbp-ntcontent">
                            <p>A közösségi rendszerek tulajdonsága, hogy a nagyszámú poszt miatt algoritmusok döntik el a
                                posztok láthatóságát. Az irányított posztok viszont megszűrik az olvasók táborát, így minden poszt
                                addig látható, ameddig az írója azt akarja. Az sem zavar, ha ezek egyben üzleti célokat szolgálnak,
                                sőt még örülünk is neki!
                                </p>
                        </div>
                    </li>
                    <li>
                        <h4 class="cbp-nttrigger">Közvetlen cset kommunikáció</h4>
                        <div class="cbp-ntcontent">
                            <p>A nyilvános megjegyzéseknél tapasztalt kellemetlen atrocitás helyett a közvetlen cset alapú
                                kommunikációt támogatjuk. Majd te eldöntöd, hogy a reakció elfogadható-e vagy sem. Akár
                                többen egyesével vagy csoportosan is válaszolhatnak.
                                </p>
                        </div>
                    </li>
                    <li>
                        <h4 class="cbp-nttrigger">Kérdezhetsz, ha nem találsz valamit</h4>
                        <div class="cbp-ntcontent">
                            <p>A posztok a tartalom megosztás helyett a kérdések feltételére készültek, a további funkciók is ezt
                                fogják szolgálni. A kérdés, kérés, ajánlat mind aktivitásra buzdítja a poszt olvasóját, amely a
                                személyes találkozókat motiválja.
                                </p>
                        </div>
                    </li>
                    <li>
                        <h4 class="cbp-nttrigger">Kérdezhetsz, ha nem találsz valamit</h4>
                        <div class="cbp-ntcontent">
                            <p>A posztok a tartalom megosztás helyett a kérdések feltételére készültek, a további funkciók is ezt
                                fogják szolgálni. A kérdés, kérés, ajánlat mind aktivitásra buzdítja a poszt olvasóját, amely a
                                személyes találkozókat motiválja.
                                </p>
                        </div>
                    </li>

                    
                </ul>
            </div>
        </li>
    </ul>
</div>