<section class="fullsize-video-bg">
	<div style="
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;" class="inner">
		<div style="display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;">
            <img  style="margin:25px 0" class="logo animated infinite pulse" src="public/storage/img/logo.png" alt="">
            <h1  class=" animate__animated animate__fadeInDown" style="font-size:3rem;text-transform: uppercase; margin:0 0">Actiways</h1>
            <p  class=" animate__animated animate__fadeInDown" style="margin:25px 0;font-size: 1.5rem;">Keress új embereket! Ismerd meg a környezeted! Találd fel magad, bárhol is vagy</p>
            <i style="padding-top:50px;font-size: 2rem;" class="fas fa-arrow-down"></i>
		</div>
	</div>
	<div id="video-viewport">
		<video width="1920" height="1280" autoplay muted loop>
			<source src="public/storage/video/video.mp4" type="video/mp4" />
            <source src="public/storage/video/video.mp4" type="video/webm" />
		</video>
	</div>
</section>