body{
	margin: 0; height: 100%;
	}

.temp{
	height: 20vw;
}


.logo{
	width: 70px;
	margin-top: 50px;
}

.icoo{
	background: #ed1556;
}

.shadow-lg{
	box-shadow: 0 10px 15px -3px rgba(237, 21, 86, 0.1), 0 4px 6px -2px rgba(237, 21, 86, 0.05);
}
section{
	scroll-snap-align: start;
}

.maincont{
	margin-bottom: 100px;
}

.sticky{
	position: -webkit-sticky; /* Safari */
	position: sticky;
	top: 0;
	z-index: 3;
}

.logoname{
	width: 202px;
}

.transparent{
	background: none;
}

.logo-container {
	display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
	background: white;
	margin-top: 5px;
    height: 147px;
    width: 100vw;
}

video{
	position: fixed;
	top: 32%;
	left: 50%;
	/* min-width: 100%; */
	/* min-height: 100%; */
	width: auto;
	z-index: -100;
	transform: translateX(-50%) translateY(-50%);
	transition: 1s opacity;
	/* position: fixed; */
}
 
.fixed {
    display: block;
    position: fixed;
    top: 0;
    width: 100%;
}